//import all arccorp vars
@use "~arccorp-vars/src/scss/main";
@use "sticky";

#app {
  color: #414042;
  min-height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;

  .loading {
    color: #dddddd;
    vertical-align: middle;
    width: 100%;
    div {
      text-align: left !important;
    }
    .loading-icon {
      text-align: center !important;
      color: #dddddd;
      display: block;
      font-size: 70px;
      margin: 0 auto;
    }
  }
}

.arc-media-kit {
  width: 100%;
  padding-bottom: 120px;

  h1 {
    font-family: main.$arc-font-semibold;
    color: main.$tarmac;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  p.arc-media-kit-subtitle {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 30px;
  }
  h2 {
    font-family: main.$arc-font-semibold;
    font-size: 36px;
    line-height: 42px;
  }

  .semibold {
    font-family: main.$arc-font-semibold;
  }

  .ctaBtn {
    min-width: 210px;
  }
}

.arc-media-kit-jumbo {
  padding-top: 60px;
  padding-bottom: 60px;

  .arc-media-kit-jumbo-inner {
    padding-bottom: 15px;
    border-bottom: 1px solid main.$overcast;
  }
}

a.arc-media-kit-link {
  color: main.$tarmac;
  border: 1px solid main.$overcast;
  font-size: 24px;
  line-height: 49px;
  height: 80px;
  padding-left: 38px;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  font-family: main.$arc-font-semibold;

  &:hover img {
    filter: none;
  }
}

.arc-media-kit-icon {
  margin-right: 27px;
  width: 16px;
  margin-left: auto;
  filter: brightness(0%);
  &:hover {
    filter: none;
  }
}
